@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}

body {
	background-color: #cff;
	}

#form_login{
	width:250px;
	margin:0 auto;
	position:relative;
	top:250px;	
} 

#form_login label{
	display:block;
}